/**
 * Footer Extend CSS
 */

.footer-addon-block {
  display: grid;
  border: 1px solid #c1c1c1;
  grid-template-areas: "icon link";
  /* grid-template-rows: .5fr 1fr .25fr; */
  grid-template-columns: 2fr 6fr;
  height: 5.5rem;
  width: 17rem;
  margin: 1em 0 0 1em;
  text-transform: uppercase;
  align-items: center;
  line-height: 1;
  padding-left: .25em;
}

.footer-addon-block .fontawesome-icons {
  display: inline-block;
}

.footer-addon-block>div {
  grid-area: icon;
  font-size: 2.75rem;
  padding: .75rem;
}

.footer-addon-block>a {
  grid-area: link;
  font-size: 1.2rem;
  text-decoration: none !important;
  padding: .75rem;
}