{% extends "page.html.twig" %}

{% block header_alert %}
  <div id="home-header-alerts">
    {{ page.header_alerts }}
  </div>
{% endblock %}

{% block hero %}
{% endblock %}

{% block main %}
  {{ page.content }}
{% endblock %}
