/* Facets */

.facet-block {
  font-size: 1rem;
  margin-bottom: .7rem;
}

.facet-item {
  display: flex;
  align-items: baseline;
}

.facets-widget-checkbox label {
  margin-left: .5rem;
}

p.facet-block__title {
  font-weight: bold;
  margin-bottom: .3rem;
}

div.fcrepo-result {
  display: flex;
  flex-direction: row;
}

div.fcrepo-result div[class*=" views-field-fieldset"] {
  margin: 5px;
}

div.fcrepo-result .views-field-fcrepo-thumbnails {
  flex-shrink: 0;
  margin: 5px;
  padding: 1px;
}

div.fcrepo-result .views-field-fcrepo-thumbnails img {
  border: 2px solid Bisque;
}

div.fcrepo-result .views-field-component-not-tokenized .field-content {
  border-radius: 4px;
  padding: 4px 7px;
  background: AliceBlue;
  border: 1px solid Linen;
}

div.page-section-single_block .facet-block ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-flow: row dense;
  grid-gap: .25rem;
}

div.page-section-single_block .facets-widget-checkbox ul {
  padding-left: 15px;
}

div.page-section-single_block .facets-soft-limit-link {
  font-size: 1.12rem;
}

.facets-soft-limit-link {
  font-weight: bold;
}

div.page-section-single_block .facet-inactive .facets-soft-limit-link:before {
  font-family: "Font Awesome 6 Free";
  content: "\f13a ";
  font-weight: 900;
  padding-right: 5px;
  font-size: .9rem;
}

div.page-section-single_block .facet-inactive .open:before {
  font-family: "Font Awesome 6 Free";
  content: "\f139 ";
  font-weight: 900;
  padding-right: 5px;
  font-size: .9rem;
}

div.pcdm-downloads span {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media (max-width: 992px) {
  div.page-section-single_block .facet-block ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  div.page-section-single_block .facet-block h3 {
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  div.fcrepo-result {
    flex-direction: column;
  }

  div.page-section-single_block .facet-block ul {
    display: grid;
    grid-template-columns: auto auto;
  }
  div.page-section-single_block .facet-block h3 {
    font-size: 1.15rem;
  }
}

@media (max-width: 600px) {
  div.page-section-single_block .facet-block ul {
    display: grid;
    grid-template-columns: auto;
  }
  div.page-section-single_block .facet-block h3 {
    font-size: 1.75rem;
  }
  div.page-section-single_block .facets-widget-checkbox ul {
    margin-top: -20px;
  }
}
