/* Facets */

.facet-block {
  font-size: 1rem;
  margin-bottom: 0.7rem;
}

.facet-item {
  display: flex;
  align-items: baseline;
}

.facets-widget-checkbox label {
  margin-left: 0.5rem;
}

p.facet-block__title {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

div.fcrepo-result {
  display: flex;
  flex-direction: row;
}

div.fcrepo-result div[class*=" views-field-fieldset"] {
  margin: 5px;
}

div.fcrepo-result .views-field-fcrepo-thumbnails {
  flex-shrink: 0;
  margin: 5px;
  padding: 1px;
}

div.fcrepo-result .views-field-fcrepo-thumbnails img {
  border: 2px solid Bisque;
}

div.fcrepo-result .views-field-component-not-tokenized .field-content {
  border-radius: 4px;
  padding: 4px 7px;
  background: AliceBlue;
  border: 1px solid Linen;
}

/* Change to columns instead of grid */
div.page-section-single_block .facet-block ul {
  columns: 191px 5;
}

div.page-section-single_block .facets-widget-checkbox ul {
  padding-left: 15px;
}

div.page-section-single_block .facets-soft-limit-link {
  font-size: 1.12rem;
}

.facets-soft-limit-link {
  font-weight: bold;
}

div.page-section-single_block .facet-inactive .facets-soft-limit-link:before {
  font-family: "Font Awesome 6 Free";
  content: "\f13a ";
  font-weight: 900;
  padding-right: 5px;
  font-size: 0.9rem;
}

div.page-section-single_block .facet-inactive .open:before {
  font-family: "Font Awesome 6 Free";
  content: "\f139 ";
  font-weight: 900;
  padding-right: 5px;
  font-size: 0.9rem;
}

div.pcdm-downloads span {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#views-exposed-form-fcrepo-search-page-1 div.js-form-type-textfield {
  flex-basis: fit-content;
}

#views-exposed-form-fcrepo-search-page-1 div.js-form-item-sort-by {
  flex-basis: min-content;
}

li.facets-reset .facet-item__count {
  display: none;
}

/* Change to column-width instead of grid */
@media (max-width: 992px) {
  div.page-section-single_block .facet-block ul {
    column-width: 191px;
  }
  div.page-section-single_block .facet-block h3 {
    font-size: 1.25rem;
  }
  #views-exposed-form-fcrepo-search-page-1 div.js-form-item-sort-by {
    flex-basis: content;
  }
}

/* Change to column-width instead of grid */
@media (max-width: 768px) {
  div.fcrepo-result {
    flex-direction: column;
  }

  div.page-section-single_block .facet-block ul {
    column-width: 191px;
  }
  div.page-section-single_block .facet-block h3 {
    font-size: 1.15rem;
  }
}

/* Change to column-width instead of grid */
@media (max-width: 600px) {
  div.page-section-single_block .facet-block ul {
    column-width: 191px;
  }
  div.page-section-single_block .facet-block h3 {
    font-size: 1.75rem;
  }
  div.page-section-single_block .facets-widget-checkbox ul {
    margin-top: -20px;
  }
}

/* figure */
.home-hero-figure {
  display: flex;
  justify-content: end;
}

/* figcaption  */
.home-hero-cpation {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  z-index: 10;
  position: relative;
  max-width: 1200px;
  width: fit-content;
  padding: 0.25rem 0.5rem;
  margin: 0 2.25rem 0 2.25rem;
  line-height: 1.1rem;

  /* transition effect */
  transition: opacity 0.2s, visibility 0.2s;
}

.click-instruction::before {
  content: "Click image to view description.";
}

/* Hide caption by default */
.caption-visibility {
  display: none;
}

.caption-visibility a {
  background-color: rgba(0, 0, 0, 0.33);
  color: #ffd200;
  padding: 0.1rem 0.2rem;
  border-radius: 4px;
  text-decoration: underline;
  text-underline-position: under;
}

.hero-img-button::after, .hero-img-button-wide::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.hero-img-button-wide::after {
  background-image: linear-gradient(
    268deg,
    transparent 1%,
    rgba(0, 0, 0, 0.75) 75%,
    #000
  );
}

.home-hero-bg .home-hero-media-with-attribution:after {
  z-index: -5;
}

@media (min-width: 800px) {
  .home-hero-cpation {
    margin: 0 7.25rem 0 7.25rem;
  }
}

@media (min-width: 1200px) {
  .home-hero-cpation {
    margin: 0 0 0.25rem 0;
    position: absolute;
    bottom: 0;
    text-align: right;
  }
}

a.basic-link {
  font-family: Source Sans Pro, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.00125rem;
  line-height: 1.15;
  margin-bottom: 1.25rem;
  padding-bottom: 0.75rem;
  position: relative;
  color: black;
  transition: color 0.25s ease-in-out;
}

.card[role="link"]:focus .basic-link,
.card[role="link"]:hover .basic-link {
  color: #e21833;
}
