/* digital collection item page */
.v--fcrepo-detail-page h1 {
  /* headline-medium */
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px; /* 150% */
}

/* metadata table */
table.dc-item-metadata {
  width: 100%;
  border-spacing: 0;

  color: var(--content-system-primary, #000);

  margin-top: 32px;
}

table.dc-item-metadata caption {
  caption-side: top;

  padding-bottom: 16px;
}

table.dc-item-metadata h2 {
  color: var(--content-system-primary, #000);

  /* title-medium */
  font-family: Source Sans Pro, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 150% */
  text-transform: uppercase;
}

table.dc-item-metadata tr,
table.dc-item-metadata dd,
table.dc-item-metadata dt {
  border-bottom: 1px solid var(--border-accent-decoration-subtle, #e9eaef);
}

table.dc-item-metadata td {
  vertical-align: top;
  padding: 16px 0px 16px 8px;
}

table.dc-item-metadata th {
  /* title-small */
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px; /* 150% */

  padding-right: 16px;
}

/* customized for digital collection(s) section */

table.dc-item-metadata tr:last-child td {
  padding: 0px;
}

table.dc-item-metadata dl,
table.dc-item-metadata dd,
table.dc-item-metadata dt {
  margin: 0px;
}

table.dc-item-metadata dd,
table.dc-item-metadata dt {
  padding: 16px 0px 16px 8px;
}

table.dc-item-metadata dt {
  border-top: 1px solid var(--border-accent-decoration-subtle, #e9eaef);
  background: var(--background-system-secondary, #f8f9fc);
  font-weight: 400;
}

table.dc-item-metadata dl > :nth-child(1) {
  border-top: none;
}

table.dc-item-metadata dl > :nth-child(3n) {
  border-bottom: none;
}

/* for buttons in the action area */
.action-area {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 612px) {
  .action-area {
    grid-template-columns: auto;
  }
}
