{#
/**
 * @file
 * Displays the utility navigation menu.
 *
 */
#}

<h2 class="visually-hidden" id="block-utilitynavigation-menu">Utility Navigation</h2>

<ul class="utility-menus">
  <li><a href="/locations"><span class="fas fa-clock"></span><br />
  <span class="utility-label utility-nav-locations">Locations &amp; Hours</span></a></li>
  <li><a href="/about/systems"><span class="fas fa-exclamation-triangle"></span><br />
  <span class="utility-label utility-nav-systems-status">Systems Status</span></a></li>
  <li><a href="/help"><span class="fas fa-question-circle"></span><br />
  <span class="utility-label utility-nav-help">Get Help<br />
  &nbsp;</span></a></li>
  <li><a href="/info"><span class="fas fa-info-circle"></span><br />
  <span class="utility-label utility-nav-info">Info For<br />
  &nbsp;</span></a></li>
  <li><a href="/accounts"><span class="fas fa-user"></span><br />
  <span class="utility-label utility-nav-accounts">My Accounts<br />
  &nbsp;</span></a></li>
</ul>
