/**
 * Top Textbooks CSS
 */
 
 .btn.available-btn {
    border-color: #e21833;
    color: #e21833;
    background-color: #fff;
    text-transform: none;
    padding: 0.5rem;
}
 .btn.available-btn:hover {
    background-color: #e21833;
    border-color: #e21833;
    color: #fff;
}
.btn.btn-disabled{
    border-color: #ccc;
    color: #000;
    background-color: #fff;
    text-transform: none;
    padding: 0.5rem;
    pointer-events: none;
}
.textbook-title{
    font-weight: 600;
}
span.facet-item__count {
    float: right;
}
.facets-widget-checkbox label{
    width: 35%;
}