/**
 * ask_us component CSS file.
 */

.ask-us-block {
  background-color: gray;
  padding: 1rem;
}

.ask-us-content {
  display: grid;
  grid-template-areas: "search social";
}

.ask-us-search-col {
  grid-area: search;
  padding: .75rem;
}

.ask-us-search {}

.ask-us-links {}

.ask-us-social-links {
  grid-area: social;
  padding: .75rem;
}

.ask-us-social-links .fontawesome-icons {
  display: inline-block;
}

input[type=text]#search-faq {
  padding: 10px;
  margin: .7rem 0 1rem 0;
  border: 1px #ccc solid;
  width: auto;
}
