.ut-block-2cols-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .ut-block-2cols-wrapper {
    grid-template-columns: [left] minmax(auto,100%) [right] auto;
  }

  .ut-block-2cols-col1 {
    margin-right: 1.0em;
  }

  .ut-block-2cols-col2 {
    border-left: 4px solid lightgray;
  }
}
