/* CSS Document for Utility Menu Blocks */

.utility-nav-accounts-menu {
  background-color: gray;
}

.utility-nav-accounts-link {
  padding-right: .3em;
}

.utility-nav-accounts-link-description {
  float: right;
}

.utility-nav-info-for-menu {
  background-color: gray;
}

.utility-nav-info-for-menu ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.accounts-question {
  font-weight: 800;
  font-size: 1rem;
}
