.services-resources {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  padding: 1em 0em 3.5em 0em;
  border-bottom: 14px solid rgb(236 236 236);
}

/* Grid layout for service elements:

  +------+-------------+
  |      | title       |
  +------+-------------+
  | icon | description |
  +------+-------------+
  |      | link        |
  +------+-------------+

 */

.service {
  display: grid;
  grid-template-areas: ". title" "icon description" "icon link";
  grid-template-rows: .2fr .8fr .1fr;
  grid-template-columns: .3fr .7fr;
  column-gap: 1em;
  padding: 0 2em 0 1em;
  border-left: 0.5px solid lightgrey;
  border-right: 0.5px solid lightgrey;
}

/* Remove left border for every .service class except first */

.service~.service {
  border-left: 0px;
}

.service-icon {
  grid-area: icon;
  font-size: 3em;
  color: rgb(120, 120, 120);
  text-align: center;
}

.service-title {
  grid-area: title;
  font-size: 1.125em;
  font-weight: bold;
}

.service-description {
  grid-area: description;
  font-size: .9em;
}

.service-link {
  grid-area: link;
  text-decoration: underline;
  font-size: .95em;
}
