{#
/**
 * @file
 * bento-generic-search-block template
 *
 * Variables:
 *   - search_options
 *   - query
 *   - block_title
 */
#}
{% if query and search_options %}
  <header>
    <h2>{{ block_title }}</h2>
  </header>
  {% for name, url in search_options %}
    <div class="views-row"><a href="{{ url }}{{ query }}">{{ name }}</a></div>
  {% endfor %}
{% endif %}
