.homepage-feature {
  padding: 8px 64px;
}

.homepage-feature .container {
  background: var(--background-system-primary, #fff);
  max-width: 1312px;
  padding: 16px 32px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  border-radius: 8px;
  border: 1px solid var(--border-accent-decoration-default, #bdbfc8);
}

.homepage-feature .homepage-feature-img {
  display: flex;
  align-content: center;
}

.homepage-feature .homepage-feature-img img {
  width: 360px;
  max-width: unset;
  aspect-ratio: 16/9;
  object-fit: contain;
}

.homepage-feature .homepage-feature-content {
  color: var(--content-system-primary, #000);
  display: flex;
  flex-direction: column;
}

.homepage-feature .homepage-feature-text {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 8px;
}

.homepage-feature .homepage-feature-text h2,
.homepage-feature .homepage-feature-text p {
  margin: 0px;
}

.homepage-feature .homepage-feature-text h2 {
  font-family: Source Sans Pro, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
}

.homepage-feature .homepage-feature-text p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.homepage-feature .homepage-feature-button {
  margin-top: 16px;
}
.homepage-feature .homepage-feature-button .btn:hover {
  box-shadow: none;
}

@media (max-width: 1200px) {
  .homepage-feature .homepage-feature-img {
    display: none;
  }
}

@media (max-width: 1024px) {
  .homepage-feature {
    padding: 8px;
  }

  .homepage-feature .container {
    padding: 8px;
  }
}
