.homepage-feature {
  background-image: url("/modules/custom/homepage_feature/images/background.png");
  background-size: 50%;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 5px;
}

.homepage-feature .row {
  background: rgba(255, 255, 255, .75);
  padding: 5px;
}

.homepage-feature .content-container {
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.homepage-feature .content-container h6 {
  text-transform: capitalize;
}

.homepage-feature .content-container p {
  margin-bottom: .5rem;
  line-height: 1.25;
}

.homepage-feature .thumbnail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.homepage-feature .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.homepage-feature .button-container a {
  padding: .5rem 2rem;
  color: black;
  border: .1rem solid black;
  font-weight: bold;
  text-decoration: none !important;
}

.homepage-feature .thumbnail-container .image-wrapper {
  width: 100%;
  overflow-y: hidden;
  max-height: 120px;
}

.homepage-feature .thumbnail-container img {
  border-left: 2px solid white;
  border-right: 2px solid white;
  max-width: 500px;
  min-width: 150px;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .homepage-feature .thumbnail-container {
    display: none;
  }

  .homepage-feature .content-container {
    padding-left: 25px;
    padding-right: 25px;
  }

  .homepage-feature .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
  }

  .homepage-feature .content-container p {
    /* text-align: justify;
    text-justify: inter-word; */ 
  }
  
}
