.news-article {
  margin-bottom: 0;
}
.news-article-date {
  color: #4a4a4a;
  display: block;
  font-size: 1rem;
  letter-spacing: .07812rem;
  line-height: 1;
  margin-bottom: .625rem;
  text-transform: uppercase;
}
.news-article-teaser-image {
  float: right;
  max-width: 43%;
  margin: 0 0 1em 0;
}
.news-article-image {
  float: right;
  margin: 2rem 0 1rem 0;
}

@media (max-width: 576px) {
  .news-article-teaser-image {
    float: none;
    max-width: 100%;
    margin: 0 0 1em 0;
  }
}