.subnav li {
  line-height: 1.2rem;
}

.subnav li a {
  padding: .68rem 1.25rem;
}

.news-article .news-article-teaser-image {
  padding-left: 10px;
}

.news-article .feed-item-body {
  min-height: 225px;
}

.news-article .feed-item, .news-article-full {
  border-bottom: 6px solid #d7d7d7;
  margin-bottom: 6px;
}

.news-article-full {
  min-height: 360px;
}

.article-categories {
  padding-bottom: 25px;
}

.staff-advanced {
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 3px solid #bfbfbf;
}

.staff-advanced-photo {
  float: left;
}

.staff-advanced-details {
  padding-left: 120px;
}

.facet-block {
  font-size: 1rem;
}

.form-text {
  color: black;
  font-weight: 800;
}

.form-text::placeholder {
  color: gray;
  font-weight: 700;
  opacity: 1;
}

.form-text:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: gray;
  font-weight: 700;
}

.form-text::-ms-input-placeholder { /* Microsoft Edge */
  color: gray;
  font-weight: 700;
}

.views-exposed-form {
  border-bottom: 0px solid #eaeaea;
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
}

@media (min-width: 1000px) {
  .views-exposed-form {
    flex-wrap: nowrap;
    margin-bottom: 0.125rem;
    padding-bottom: 1.125rem;
  }
}

.news-article-full h2 {
  font-size: 1.75rem;
}

.umd-spaces {
  padding: 5px;
  border-bottom: 1px solid black;
}

.umd-spaces .accordion > .card .card-header .btn {
  padding: 0rem 0rem 0rem 2.75rem;
}

.umd-spaces .space-image {
  text-align: center;
}

.space-featured-yes {
  background-color: aliceblue;
}

/** Card modifications **/

a.basic-link {
  font-family: Source Sans Pro, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.00125rem;
  line-height: 1.15;
  margin-bottom: 1.25rem;
  padding-bottom: 0.75rem;
  position: relative;
  color: black;
  transition: color 0.25s ease-in-out;
}

.card[role="link"]:focus .basic-link,
.card[role="link"]:hover .basic-link {
  color: #e21833;
}

/** Facets **/
.facet-item {
  display: flex;
  align-items: baseline;
}

.facets-widget-checkbox label {
  margin-left: 0.5rem;
}

.umdheader-main__logo a[href^="https://umd.edu"]{
     font-family: Crimson Text, Georgia, serif!important;
}

/* fix image overlap issue */
.card-img {
  position: relative;
  z-index: auto;
}

.card[role="link"]:focus,
.card[role="link"]:hover {
  z-index: auto;
}

/* update responsive style for 3 card wrap */
.card-wrap {
  flex-direction: column;
  margin-bottom: 0px;
}

.card-group {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  gap: 16px;
  margin: 0px;
}

@media (min-width: 1200px) {
  .card-wrap--3 {
    width: 100%;
    max-width: none;
    flex: none;
  }
}

@media (min-width: 450px) {
  .card-wrap--3 {
    padding-left: 0px;
    max-width: none;
    flex: none;
  }
}

@media (max-width: 1200px) {
  .card-group {
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 16px;
    margin: 0px;
  }
}

@media (max-width: 576px) {
  .card-group {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-row-gap: 16px;
    margin: 0px;
  }
}
