.subnav li {
  line-height: 1.2rem;
}

.subnav li a {
  padding: .68rem 1.25rem;
}

.news-article .news-article-teaser-image {
  padding-left: 10px;
}

.news-article .feed-item-body {
  min-height: 225px;
}

.news-article .feed-item, .news-article-full {
  border-bottom: 6px solid #d7d7d7;
  margin-bottom: 6px;
}

.news-article-full {
  min-height: 360px;
}

.article-categories {
  padding-bottom: 25px;
}

.staff-advanced {
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 3px solid #bfbfbf;
}

.staff-advanced-photo {
  float: left;
}

.staff-advanced-details {
  padding-left: 120px;
}

.facet-block {
  font-size: 1rem;
}

.form-text {
  color: black;
  font-weight: 800;
}

.form-text::placeholder {
  color: gray;
  font-weight: 700;
  opacity: 1;
}

.form-text:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: gray;
  font-weight: 700;
}

.form-text::-ms-input-placeholder { /* Microsoft Edge */
  color: gray;
  font-weight: 700;
}

.views-exposed-form {
  border-bottom: 0px solid #eaeaea;
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
}

@media (min-width: 1000px) {
  .views-exposed-form {
    flex-wrap: nowrap;
    margin-bottom: 0.125rem;
    padding-bottom: 1.125rem;
  }
}

.news-article-full h2 {
  font-size: 1.75rem;
}

.umd-spaces {
  padding: 5px;
  border-bottom: 1px solid black;
}

.umd-spaces .accordion > .card .card-header .btn {
  padding: 0rem 0rem 0rem 2.75rem;
}

.umd-spaces .space-image {
  text-align: center;
}

.space-featured-yes {
  background-color: aliceblue;
}

/** Card modifications **/

a.basic-link {
  font-family: Source Sans Pro, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.00125rem;
  line-height: 1.15;
  margin-bottom: 1.25rem;
  padding-bottom: 0.75rem;
  position: relative;
  color: black;
  transition: color 0.25s ease-in-out;
}

.card[role="link"]:focus .basic-link,
.card[role="link"]:hover .basic-link {
  color: #e21833;
}

/** Facets **/
.facet-item {
  display: flex;
  align-items: baseline;
}

.facets-widget-checkbox label {
  margin-left: 0.5rem;
}

.umdheader-main__logo a[href^="https://umd.edu"]{
     font-family: Crimson Text, Georgia, serif!important;
}

.featured-collections .card-img {
  position: relative;
  z-index: auto;
}

.featured-collections .card[role="link"]:focus,
.featured-collections .card[role="link"]:hover {
  z-index: auto;
}

/* featured card group*/
.featured-collections .card-group {
  min-height: 600px;
  margin: 0px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

@media (max-width: 576px) {
  .featured-collections .card-group {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 577px) and (max-width: 1200px) {
  .featured-collections .card-group {
    grid-template-columns: repeat(2, 1fr);
  }
}

.featured-collections .card-wrap {
  flex-direction: column;
  margin-bottom: 0;
}

@media (min-width: 450px) {
  .featured-collections .card-wrap--3 {
    padding-left: 0;
    max-width: none;
    flex: none;
  }
}

/* featured card body */
/* layout */
.featured-collections .card-body {
  background-color: white;

  min-height: 300px;
  padding: 16px 24px;

  display: flex;
  flex-direction: column;
}

/* card category */
.featured-collections .card-category {
  color: #55575e;
  background-color: #fff9d5;

  width: full-width;
  padding: 2px 8px;
  margin-bottom: 8px;

  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  text-align: right;
}

/* card title */
.featured-collections .card-title {
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.featured-collections .card-title a {
  padding: 0;
  margin: 0;

  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
}

.featured-collections .card-title::after {
  color: #e9eaef;

  width: 48px;
  height: 4px;
}

/* card description */
.featured-collections .card-text {
  color: #6d7078;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  align-self: stretch;
  overflow: hidden;
}

/* universal news feed */
/* universal news card */
.universal-news-feed-item .card {
  padding: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  border-radius: 8px;

  transition: 0.2s ease-in-out;
}

.universal-news-feed-item .card:hover {
  background-color: #f8f9fc;
}

/* universal news card title */
.universal-news-feed-item .title {
  width: 100%;
}

.universal-news-feed-item .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.universal-news-feed-item .category {
  color: #55575e;
  background-color: #fff9d5;

  padding: 2px 8px;

  display: flex;
  align-items: center;
  align-content: center;
  gap: 4px;
  align-self: stretch;
  flex-wrap: wrap;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  text-transform: uppercase;
}

.universal-news-feed-item h3 {
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 33px; /* 150% */
}

/* universal news card content */
.universal-news-feed-item .content {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  justify-content: space-between;
}

.universal-news-feed-item .text {
  min-height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.universal-news-feed-item .text p, .universal-news-feed-item .text li {
  color: #000;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  align-self: stretch;

  overflow: hidden;
  text-overflow: ellipsis;

  margin: 0;
}

.universal-news-feed-item .text ul {
  text-decoration: none;
}

.universal-news-feed-item .text li {
  padding: 0 0 0 .75rem;
}

.universal-news-feed-item .text ul li::before {
  content: "";
  display: inline-block;
  border-top: 3px solid transparent;
  border-left: 6px solid #e21833;
  border-bottom: 3px solid transparent;
  height: 0;
  width: 0;
  margin-right: .375rem;
  margin-left: -.75rem;
  transform: translateY(-50%);
}


/* universal news card image */
.universal-news-feed-item .content .image {
  aspect-ratio: 3/2;
  width: 300px;
  height: 200px;
}

.universal-news-feed-item .content .image img {
  object-fit: cover;
  height: 100%;
}

@media (max-width: 799px) {
  .universal-news-feed-item .content {
    flex-direction: column-reverse;
  }

  .universal-news-feed-item .content .image {
    width: 100%;
    height: auto;
  }

  .universal-news-feed-item .content .image img {
    object-fit: cover;
    aspect-ratio: 3/2;
    width: 100%;
  }
}

/* universal news divider */
.universal-news-feed-item hr {
  border-bottom-color: #bdbfc8;

  width: 100%;
  margin: 16px 0;
}
