.umdlib-site-footer {
  border-top: 3.35rem solid #efefef;
  font-size: 1em;
  color: #858585;
}

.umdlib-site-footer-main {
  background-color: #ffffff;
  border-top: .6rem solid #E21833;
  padding: 3.5rem 2.5rem;
}

.umdlib-site-footer-main .max-bound {
  max-width: 68.4375rem;
}

.umdlib-site-footer-main a {
  color: #666666;
  transition: .25s color ease-in-out;
  text-decoration: underline;
}

.umdlib-site-footer-main .umdlib-site-footer-social a:hover, .umdlib-site-footer-main .umdlib-site-footer-social a:focus {
  color: #E21833;
  text-decoration: none;
}

@media (min-width: 800px) {
  .umdlib-site-footer-main {
    display: flex;
  }
}

.umdlib-site-footer-nav {
  margin: 1em 0 0 1.25em;
  position: relative;
}

.umdlib-site-footer-nav:after {
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  right: -2.5rem;
  bottom: 0;
  left: -2.5rem;
}

/* @media (min-width: 800px) {
      .umdlib-site-footer-nav:after {
        right: 0;
        left: 0; } } */

.umdlib-site-footer-nav li {
  display: block;
  letter-spacing: 0.01562rem;
  margin-top: .2rem;
}

.umdlib-site-footer-nav-title {
  font-weight: bold;
  color: #4A4A4A;
}

/* @media (min-width: 600px) {
      .umdlib-site-footer-nav li {
        display: inline-block; } } */

/* @media (min-width: 600px) {
        .umdlib-site-footer-nav li:not(:last-child):after {
          content: "|";
          color: #E21833;
          display: inline-block;
          margin: 0 1.75rem; } } */

.umdlib-site-footer-about {
  color: #4A4A4A;
  width: 32rem;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.umdlib-site-footer-addon {
  color: #4A4A4A;
  margin-left: 3.25rem;
}

.umdlib-site-footer-logo {
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0 auto 1.5rem;
  width: 100%;
  height: 7rem;
}

.umdlib-site-footer-logo>div {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

@media (min-width: 800px) {
  .umdlib-site-footer-logo {
    /* margin-right: 2rem; */
  }
}

@media (min-width: 1200px) {
  .umdlib-site-footer-logo {
    /* margin-right: 3.5rem; */
  }
}

.umdlib-site-footer-address {
  margin: 0 auto 2rem 8.75rem;
}

.umdlib-site-footer-address-addrline:after {
  content: "";
  display: block;
  width: 3%;
  padding-top: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid gray;
}

@media (min-width: 800px) {
  .umdlib-site-footer-address {
    text-align: left;
  }
}

.umdlib-site-footer-social {
  max-width: 18.4375rem;
  margin: 0 auto 2rem 7.5rem;
}

@media (min-width: 800px) {
  .umdlib-site-footer-social {
    flex-grow: 0;
    flex-grow: 0;
    max-width: none;
    width: 50%;
  }
}

.umdlib-site-footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.umdlib-site-footer-social li {
  align-items: center;
  display: flex;
  flex: 1 1 0px;
  justify-content: center;
  max-width: 25%;
}

.umdlib-site-footer-social a {
  text-decoration: none;
  color: black;
}

.umdlib-site-footer-social [class*="icon"] {
  font-size: 1.0625rem;
}

.umdlib-site-footer-social .icon-youtube {
  font-size: 0.8125rem;
}

.umdlib-site-footer-legal {
  background-color: #efefef;
  padding: .75rem;
  text-align: center;
}

@media (min-width: 800px) {
  .umdlib-site-footer-legal {
    padding: .75rem;
  }
}

.umdlib-site-footer-legal ul {
  text-align: center;
  display: inline-block;
}

.umdlib-site-footer-legal li {
  color: #8E8E8E;
  display: inline-block;
  line-height: 2.07143;
}

.umdlib-site-footer-legal li:after {
  content: "|";
  display: inline-block;
  margin: 0 0.5rem;
}

.umdlib-site-footer-legal a {
  color: inherit;
}

.umdlib-site-footer-legal span {
  color: #8E8E8E;
  line-height: 2.07143;
}