.umdlib-site-footer {
  border-top: 3.35rem solid #efefef;
  font-size: 1em;
  color: #858585;
}

.umdlib-site-footer-main {
  background-color: #ffffff;
  border-top: 0.6rem solid #e21833;
  padding: 3.5rem 2.5rem;
}

.umdlib-site-footer-main .max-bound {
  max-width: 68.4375rem;
}

.umdlib-site-footer-main a {
  color: #666666;
  transition: 0.25s color ease-in-out;
  text-decoration: underline;
}
.umdlib-site-footer-main a:hover {
  text-decoration: none;
}
.umdlib-site-footer-main .umdlib-site-footer-social a:hover,
.umdlib-site-footer-main .umdlib-site-footer-social a:focus {
  color: #e21833;
  text-decoration: none;
}

@media (min-width: 800px) {
  .umdlib-site-footer-main {
    display: flex;
  }
}

.umdlib-site-footer-nav {
  margin: 1em 1em 0 1.25em;
  position: relative;
}

.umdlib-site-footer-nav:after {
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  right: -2.5rem;
  bottom: 0;
  left: -2.5rem;
}

/* LibChat embed https://issues.umd.edu/browse/LIBWEB-5425 */
iframe#iframe_fe53f3bc15d10c1fe704c59be49661b0 {
  max-height: 360px;
}
.s-lch-widget-float-btn {
  right: 50px !important;
}

/* @media (min-width: 800px) {
      .umdlib-site-footer-nav:after {
        right: 0;
        left: 0; } } */

.umdlib-site-footer-nav li {
  display: block;
  letter-spacing: 0.01562rem;
  margin-top: 0.2rem;
}

.umdlib-site-footer-nav-title {
  font-weight: bold;
  color: #000;
}

/* @media (min-width: 600px) {
      .umdlib-site-footer-nav li {
        display: inline-block; } } */

/* @media (min-width: 600px) {
        .umdlib-site-footer-nav li:not(:last-child):after {
          content: "|";
          color: #E21833;
          display: inline-block;
          margin: 0 1.75rem; } } */

.umdlib-site-footer-about {
  color: #4a4a4a;
  width: 28rem;
  margin-left: 3.5rem;
  margin-right: 2rem;
}

.umdlib-site-footer-addon {
  color: #4a4a4a;
  margin-left: 3.25rem;
}

.umdlib-site-footer-logo {
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0 auto 1.5rem;
  width: 100%;
  height: 7rem;
}

.umdlib-site-footer-logo > div {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

@media (min-width: 800px) {
  .umdlib-site-footer-logo {
    /* margin-right: 2rem; */
  }
}

@media (min-width: 1200px) {
  .umdlib-site-footer-logo {
    /* margin-right: 3.5rem; */
  }
}

.umdlib-site-footer-address {
  margin: 0 auto 2rem 8.75rem;
}

.umdlib-site-footer-address-addrline:after {
  content: "";
  display: block;
  width: 3%;
  padding-top: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid gray;
}

@media (min-width: 800px) {
  .umdlib-site-footer-address {
    text-align: left;
  }
}

.umdlib-site-footer-social {
  max-width: 18.4375rem;
  margin: 0 auto 2rem 7.5rem;
}

@media (min-width: 800px) {
  .umdlib-site-footer-social {
    flex-grow: 0;
    flex-grow: 0;
    max-width: none;
    width: 50%;
  }
}

.umdlib-site-footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.umdlib-site-footer-social li {
  align-items: center;
  display: flex;
  flex: 1 1 0px;
  justify-content: center;
  max-width: 25%;
}

.umdlib-site-footer-social a {
  text-decoration: none;
  color: black;
}

.umdlib-site-footer-social [class*="icon"] {
  font-size: 1.5rem;
}

.umdlib-site-footer-social .icon-youtube {
  font-size: 1.5rem;
}

.umdlib-site-footer-legal {
  background-color: #efefef;
  padding: 0.75rem;
  text-align: center;
}

@media (min-width: 800px) {
  .umdlib-site-footer-legal {
    padding: 0.75rem;
  }
}

.umdlib-site-footer-legal ul {
  text-align: center;
  display: inline-block;
}

.umdlib-site-footer-legal li {
  color: dimgray;
  display: inline-block;
  line-height: 2.07143;
}

.umdlib-site-footer-legal li:after {
  content: "|";
  display: inline-block;
  margin: 0 0.5rem;
}

.umdlib-site-footer-legal a {
  color: inherit;
}

.umdlib-site-footer-legal span {
  color: dimgray;
  line-height: 2.07143;
}
@media (max-width: 1200px) {
  .umdlib-site-footer-main {
    display: grid;
    grid-template-columns: 55% auto;
  }
  .umdlib-site-footer-about {
    width: auto;
    margin-left: 0;
  }
  .umdlib-site-footer-logo {
    width: 80%;
    margin: 0;
  }
  .umdlib-site-footer-address {
    margin: 1rem;
  }
  .umdlib-site-footer-social {
    margin: 0;
  }
  .umdlib-site-footer-addon {
    margin-left: 0;
  }
}
@media (max-width: 576px) {
  .umdlib-site-footer-main {
    grid-template-columns: auto;
    padding: 1rem;
  }
}

/* chatbox */
:root {
  --offline-primary-color: #787878;
  --offline-sematic-color: #787878;
  --offline-text-color: #787878;
  --offline-background-color: #fff;

  --offline-icon-default: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='28' viewBox='0 0 35 28' fill='none'%3E%3Cpath d='M14 9.9167C13.996 11.4565 14.3558 12.9756 15.05 14.35C15.8732 15.9971 17.1386 17.3824 18.7046 18.3509C20.2707 19.3193 22.0754 19.8327 23.9167 19.8334C25.4565 19.8374 26.9755 19.4776 28.35 18.7834L35 21L32.7833 14.35C33.4776 12.9756 33.8373 11.4565 33.8333 9.9167C33.8326 8.07542 33.3193 6.27069 32.3508 4.70467C31.3824 3.13866 29.997 1.87319 28.35 1.05003C26.9755 0.355786 25.4565 -0.00398156 23.9167 3.32361e-05H23.3333C20.9016 0.13419 18.6048 1.16059 16.8827 2.8827C15.1606 4.60482 14.1342 6.90163 14 9.33337V9.9167Z' fill='%23787878'/%3E%3Cpath d='M13.1 15.0333C12.3727 13.5934 11.9958 12.0021 12 10.3889V9.7778C12.051 8.85367 12.225 7.94813 12.5122 7.0832C12.2326 7.04352 11.9506 7.0157 11.6667 7.00003H11.0833C9.54349 6.99602 8.02447 7.35579 6.65 8.05003C5.00296 8.8732 3.61763 10.1387 2.64917 11.7047C1.68071 13.2707 1.16738 15.0754 1.16667 16.9167C1.16265 18.4565 1.52242 19.9756 2.21667 21.35L0 28L6.65 25.7834C8.02447 26.4776 9.54349 26.8374 11.0833 26.8334C12.9246 26.8327 14.7293 26.3193 16.2954 25.3509C17.8614 24.3824 19.1268 22.9971 19.95 21.35C20.0797 21.0933 20.1977 20.8316 20.3038 20.5656C19.114 20.3213 17.9709 19.8692 16.9287 19.2247C15.2881 18.2101 13.9624 16.7588 13.1 15.0333Z' fill='%23787878'/%3E%3C/svg%3E");
  --offline-icon-hover: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='28' viewBox='0 0 35 28' fill='none'%3E%3Cpath d='M14 9.9167C13.996 11.4565 14.3558 12.9756 15.05 14.35C15.8732 15.9971 17.1386 17.3824 18.7046 18.3509C20.2707 19.3193 22.0754 19.8327 23.9167 19.8334C25.4565 19.8374 26.9755 19.4776 28.35 18.7834L35 21L32.7833 14.35C33.4776 12.9756 33.8373 11.4565 33.8333 9.9167C33.8326 8.07542 33.3193 6.27069 32.3508 4.70467C31.3824 3.13866 29.997 1.87319 28.35 1.05003C26.9755 0.355786 25.4565 -0.00398156 23.9167 3.32361e-05H23.3333C20.9016 0.13419 18.6048 1.16059 16.8827 2.8827C15.1606 4.60482 14.1342 6.90163 14 9.33337V9.9167Z' fill='white'/%3E%3Cpath d='M13.1 15.0333C12.3727 13.5934 11.9958 12.0021 12 10.3889V9.7778C12.051 8.85367 12.225 7.94813 12.5122 7.0832C12.2326 7.04352 11.9506 7.0157 11.6667 7.00003H11.0833C9.54349 6.99602 8.02447 7.35579 6.65 8.05003C5.00296 8.8732 3.61763 10.1387 2.64917 11.7047C1.68071 13.2707 1.16738 15.0754 1.16667 16.9167C1.16265 18.4565 1.52242 19.9756 2.21667 21.35L0 28L6.65 25.7834C8.02447 26.4776 9.54349 26.8374 11.0833 26.8334C12.9246 26.8327 14.7293 26.3193 16.2954 25.3509C17.8614 24.3824 19.1268 22.9971 19.95 21.35C20.0797 21.0933 20.1977 20.8316 20.3038 20.5656C19.114 20.3213 17.9709 19.8692 16.9287 19.2247C15.2881 18.2101 13.9624 16.7588 13.1 15.0333Z' fill='white'/%3E%3C/svg%3E");

  --live-primary-color: #e21833;
  --live-sematic-color: #59a056;
  --live-text-color: #000;
  --live-background-color: #fff;

  --live-icon-default: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='28' viewBox='0 0 35 28' fill='none'%3E%3Cpath d='M14 9.9167C13.996 11.4565 14.3558 12.9756 15.05 14.35C15.8732 15.9971 17.1386 17.3824 18.7046 18.3509C20.2707 19.3193 22.0754 19.8327 23.9167 19.8334C25.4565 19.8374 26.9755 19.4776 28.35 18.7834L35 21L32.7833 14.35C33.4776 12.9756 33.8373 11.4565 33.8333 9.9167C33.8326 8.07542 33.3193 6.27069 32.3508 4.70467C31.3824 3.13866 29.997 1.87319 28.35 1.05003C26.9755 0.355786 25.4565 -0.00398156 23.9167 3.32361e-05H23.3333C20.9016 0.13419 18.6048 1.16059 16.8827 2.8827C15.1606 4.60482 14.1342 6.90163 14 9.33337V9.9167Z' fill='%23E21833'/%3E%3Cpath d='M13.1 15.0333C12.3727 13.5934 11.9958 12.0021 12 10.3889V9.7778C12.051 8.85367 12.225 7.94813 12.5122 7.0832C12.2326 7.04352 11.9506 7.0157 11.6667 7.00003H11.0833C9.54349 6.99602 8.02447 7.35579 6.65 8.05003C5.00296 8.8732 3.61763 10.1387 2.64917 11.7047C1.68071 13.2707 1.16738 15.0754 1.16667 16.9167C1.16265 18.4565 1.52242 19.9756 2.21667 21.35L0 28L6.65 25.7834C8.02447 26.4776 9.54349 26.8374 11.0833 26.8334C12.9246 26.8327 14.7293 26.3193 16.2954 25.3509C17.8614 24.3824 19.1268 22.9971 19.95 21.35C20.0797 21.0933 20.1977 20.8316 20.3038 20.5656C19.114 20.3213 17.9709 19.8692 16.9287 19.2247C15.2881 18.2101 13.9624 16.7588 13.1 15.0333Z' fill='%23FED101'/%3E%3C/svg%3E");
  --live-icon-hover: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='28' viewBox='0 0 35 28' fill='none'%3E%3Cpath d='M14 9.9167C13.996 11.4565 14.3558 12.9756 15.05 14.35C15.8732 15.9971 17.1386 17.3824 18.7046 18.3509C20.2707 19.3193 22.0754 19.8327 23.9167 19.8334C25.4565 19.8374 26.9755 19.4776 28.35 18.7834L35 21L32.7833 14.35C33.4776 12.9756 33.8373 11.4565 33.8333 9.9167C33.8326 8.07542 33.3193 6.27069 32.3508 4.70467C31.3824 3.13866 29.997 1.87319 28.35 1.05003C26.9755 0.355786 25.4565 -0.00398156 23.9167 3.32361e-05H23.3333C20.9016 0.13419 18.6048 1.16059 16.8827 2.8827C15.1606 4.60482 14.1342 6.90163 14 9.33337V9.9167Z' fill='%23FED101'/%3E%3Cpath d='M13.1 15.0333C12.3727 13.5934 11.9958 12.0021 12 10.3889V9.7778C12.051 8.85367 12.225 7.94813 12.5122 7.0832C12.2326 7.04352 11.9506 7.0157 11.6667 7.00003H11.0833C9.54349 6.99602 8.02447 7.35579 6.65 8.05003C5.00296 8.8732 3.61763 10.1387 2.64917 11.7047C1.68071 13.2707 1.16738 15.0754 1.16667 16.9167C1.16265 18.4565 1.52242 19.9756 2.21667 21.35L0 28L6.65 25.7834C8.02447 26.4776 9.54349 26.8374 11.0833 26.8334C12.9246 26.8327 14.7293 26.3193 16.2954 25.3509C17.8614 24.3824 19.1268 22.9971 19.95 21.35C20.0797 21.0933 20.1977 20.8316 20.3038 20.5656C19.114 20.3213 17.9709 19.8692 16.9287 19.2247C15.2881 18.2101 13.9624 16.7588 13.1 15.0333Z' fill='white'/%3E%3C/svg%3E");

  --chevron-white: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='8' viewBox='0 0 14 8' fill='none'%3E%3Cpath d='M1 1L7 7L13 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  --chevron-offline: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6 9L12 15L18 9' stroke='%23787878' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  --chevron-live: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6 9L12 15L18 9' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

:root {
  --cw-color-main: var(--offline-primary-color);
  --cw-color-sematic: var(--offline-sematic-color);
  --cw-color-text: var(--offline-text-color);
  --cw-color-background: var(--offline-background-color);
  --cw-icon-default: var(--offline-icon-default);
  --cw-icon-hover: var(--offline-icon-hover);
  --cw-chevron-default: var(--chevron-offline);
  --cw-chevron-hover: var(--chevron-white);
}

.cw {
  height: 654px;
  width: 360px;
  background-color: #f7f8fc;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-in-out;

  position: fixed;
  right: 36px;
  bottom: 0px;
}

@media (max-width: 550px) {
  .cw {
    width: 100%;
    height: calc(100vh - 132px);

    position: fixed;
    right: 0px;
    bottom: 0px;
  }
}

/* chat windows minimized */
.cw.closed {
  height: 60px;
  width: 324px;
}

@media (max-width: 550px) {
  .cw.closed {
    width: 100%;
  }
}

.cw.closed .cw-header {
  padding: 10px 10px;
}

@media (max-width: 550px) {
  .cw.closed .cw-header {
    padding: 10px 20px;
  }
}

.cw.closed .cw-iframe {
  display: none;
}

/* header default - offline */
.cw-header {
  width: 100%;
  height: 60px;
  padding: 10px 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-top: 3px solid var(--cw-color-main);
  border-bottom: 3px solid var(--cw-color-main);
  border-right: initial;
  border-left: initial;

  background-color: var(--cw-color-background);
  transition: all 0.3s ease-in-out;
}

.cw-header-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.cw-icon {
  width: 42px;
  height: 35px;
}

.cw-icon {
  background-image: var(--cw-icon-default);
  background-repeat: no-repeat;
  background-position: center;
}

.cw-text {
  color: var(--cw-color-text);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.cw-text p {
  margin: 0px;
}

.cw-status {
  padding: 2px 6px;
  border-radius: 4px;
  background-color: var(--cw-color-sematic);
  color: var(--cw-color-background);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.cw-chevron {
  width: 24px;
  height: 24px;
  background-image: var(--cw-chevron-default);
  background-repeat: no-repeat;
  background-position: center;
}

.chevron-ver {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}

/* header hover/active/focus default status - offline */
.cw-header:is(:hover) {
  background-color: var(--cw-color-main);
}

.cw-header:is(:hover) .cw-icon {
  background-image: var(--cw-icon-hover);
}

.cw-header:is(:hover) .cw-text {
  color: var(--cw-color-background);
}

.cw-header:is(:hover) .cw-status {
  background: var(--cw-color-background);
  color: var(--cw-color-main);
}

.cw-header:is(:hover) .cw-chevron {
  background-image: var(--cw-chevron-hover);
}

.cw-iframe iframe {
  display: block;
  opacity: 1;
  width: 360px;
  height: 594px;
}

@media (max-width: 550px) {
  .cw-iframe iframe {
    width: 100%;
    height: calc(100vh - 192px);
  }
}
