body.home .embedded-heading {
  display: none;
}

body.home .home-hero.home-hero-bg {
  position: unset;
}

body.home .home-hero.home-hero-bg > .max-bound {
  position: unset;
  min-height: unset;
  max-width: unset;
}

body.home .home-hero.home-hero-bg .home-hero-media {
  left: unset;
  width: unset;
  overflow: unset;
  position: unset;
}

body.home .home-hero.home-hero-bg .home-hero-media:before {
  content: unset;
}

body.home .home-hero.home-hero-bg .home-hero-media:after {
  content: unset;
}

body.home .home-hero.home-hero-bg .hero-block-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

body.home .home-hero.home-hero-bg #hero-block-fullwidth {
  height: 100%;
  min-height: 550px;
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body.home .home-hero.home-hero-bg .hero-block {
  max-width: 1440px;
  width: 100%;
}
