/**
 * Set section widths here
 */
div[class^="section-bound-"], div[class*=" section-bound-"] {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.page-section > .paragraph-section > .outer-pad {
  padding-top: 0;
  padding-bottom: 0;
}
