/**
 * CSS related to standardized search UI.
 */
.dark-green{
    color: green;
 }

 /** Search Facet **/

.facet-block {
    margin-bottom: .7rem;
}
 p.facet-block__title {
    font-weight: bold;
    margin-bottom: 0.3rem;
}
.facets-widget-checkbox label{
    margin-left: 0.5rem;
}
/** Search field options. Overwrite UMD search**/
.views-exposed-form .button, .views-exposed-form .form-select, .views-exposed-form .form-text {
    width: auto;
    padding-right: 2rem;
    padding-left:  2rem;
}

/** Header Search **/
#header-search {
  float: left;
}

.site-header__nav {
  border-top: 3px solid #ccc;
  margin-bottom: 0.7rem;
  padding-top: 0.7rem;
}
#header-search {
  float: left;
  margin: 1rem 2rem 1rem 4rem;
}
.site-header__logo {
    height: 5rem!important;
}
