/**
 * CSS related to standardized search UI.
 */
.dark-green{
    color: green;
 }

 /** Search Facet **/

.facet-block {
    margin-bottom: .7rem;
}
 p.facet-block__title {
    font-weight: bold;
    margin-bottom: 0.3rem;
}
.facets-widget-checkbox label{
    margin-left: 0.5rem;
}
/** Search field options. Overwrite UMD search**/
.views-exposed-form .button, .views-exposed-form .form-select, .views-exposed-form .form-text {
    width: auto;
    padding-right: 2rem;
    padding-left:  2rem;
}

/** Header Search **/
#header-search {
  float: left;
}
