/**
 * header alerts module css
 */

#header-alerts {
  background-color: #ecc000;
  width: 100%;
}

#home-header-alerts {
  background-color: #ecc000;
  width: 100%;
  position: absolute;
  z-index: 1;
}

/**
 Status Types
 */
#header-alerts .info {
}

#header-alerts .closure {
}

#header-alerts .status {
}

#header-alerts .alert {
}

#header-alerts .emergency {
}

.header-alert {
  border-bottom: 1px solid black;
  text-align: center; 
}

.header-alert .fontawesome-icons {
}
