{#
/**
 * @file
 * Theme override to display a IRRoC Resource node.
 */
#}

<div {{attributes}}>
	{{ title_suffix }}
	<div class="editor-content">
		<div{{ content_attributes.addClass('node__content', layout) }}>
			{# Comments not part of content, so they won't inherit .text-content styles. #}
			{{ content|without('comment') }}
		</div>
	</div>
</div>
