/**
 * LibCal CSS
 */
.lib-cal-block {
  border-left: 3px solid #ccc;
  padding-left: 1.5rem;
  padding-bottom: 3rem;
}
.lib-cal-event {
  display: grid;
  grid-template-areas: "time detail";
  grid-template-columns: 30% 70%;
  padding: 0;
}

.lib-cal-event-time {
  grid-area: time;
  display: inline-block;
  border: .2rem solid lightgray;
  width: 6.5rem;
  height: 6.5rem;
  text-align: center;
  margin: 0 1rem 2rem 0;
  font-size: .8em;
  color: dimgray;
  line-height: .8;
  padding: 1.25rem;
  font-weight: bold;
}

.lib-cal-event-time span {
  display: block;
  text-transform: uppercase;
}
.lib-cal-event-time-day {
  font-size: 3em;
  color: #e21833;
}

.lib-cal-event-detail {
  grid-area: detail;
  display: inline-block;
  padding-left: .5rem;
  padding-top: 1rem;
  line-height: 1.25;
}

.lib-cal-event-category {
  text-transform: uppercase;
  font-size: .9em;
  font-weight: lighter;
}

.lib-cal-event-title {
  padding-top: 0;
  font-size: 1rem;
}

.lib-cal-event-title a {
  font-weight: bold;
  color: black;
}
@media (max-width: 1200px) {
  .lib-cal-event {
    grid-template-columns: 15% 70%;
  }
  .lib-cal-block {
    margin-top: 2rem;
    border-left: none;
    padding-left: 0;
    padding-bottom: 0;
  }
}
@media (max-width: 800px) {
  .lib-cal-event {
    grid-template-columns: 20% 75%;
  }
  .news-article {
    margin-bottom: 2rem!important;
  }
}
@media (max-width: 576px) {
  .lib-cal-event {
    grid-template-columns: 35% 65%;
  }
}
@media (max-width: 320px) {
  .lib-cal-event {
    grid-template-columns: 45% 55%;
  }
}

/**
 * Hours
 */
.lib-hours-hour {
  padding-left: 20px;
}

.lib-hours-location {
  font-weight: bold;
}

.lib-hours-details {
  float: right;
}

.lib-hours-constrained {
  max-width: 375px;
}
