{#
/**
 * @file
 * header-search-block template
 *
 * Variables:
 *   - header_search_form
 */
#}
{{ attach_library('header_search/header-search') }}
<div class="header-search-block">
  {{ header_search_form }}
</div>
