.news-articles {
  display: grid;
  grid-template-areas:
    "featured item2"
    "featured item3"
    "featured item4"
    "featured item5"
    "featured item6"
  ;
  grid-row-gap: 1.5rem;
  grid-column-gap: 1.5rem;
  grid-template-columns: 60% 40%;
}
.news-article-image {
  display: none;
  float: right;
  margin-top: 2em;
}
.news-featured .news-article-image img {
  margin-bottom: 1rem;
}
.news-article-date {
  color: #4a4a4a;
  display: block;
  font-size: 1rem;
  letter-spacing: .07812rem;
  line-height: 1;
  margin-bottom: .625rem;
  text-transform: uppercase;
}
.news-article-title {
  padding: 0 2rem 0.5rem 0;
  line-height: 1.5rem;
}
.news-article-title > a {
  color: black;
  font-weight: bold;
  font-size: 1rem;
}
.news-article-subtitle {
  display: none;
  font-size: .8em;
}
/*
 Put the first article in the featured grid area;
 the rest will flow into the "item" slots
 */
.news-featured {
  grid-area: featured;
}
.news-featured .news-article-image {
  display: block;
  float: none;
  margin-top: 0;
}
.news-featured .news-article-image img {
  max-height: none;
  height: content-box;
}
.news-featured .news-article-subtitle {
  display: block;
}

.news-articles footer .feed-item-date {
  border: 1px solid;
}
@media (max-width: 1024px) {
  .news-articles {
    grid-template-columns: 55% 45%;
  }
}
@media (max-width: 810px) {
  .news-articles {
    display: block;
  }
  .news-article {
    margin-bottom: 2rem;
  }
}