.news-articles {
  display: grid;
  grid-template-areas:
    "featured item2"
    "featured item3"
    "featured item4"
    "featured item5"
    "featured item6"
  ;
  grid-row-gap: 1em;
  grid-column-gap: 2em;
  grid-template-columns: auto auto;
}

.news-article-image {
  display: none;
  float: right;
  margin-top: 2em;
}
.news-article-date {
  color: #4a4a4a;
  display: block;
  font-size: 1rem;
  letter-spacing: .07812rem;
  line-height: 1;
  margin-bottom: .625rem;
  text-transform: uppercase;
}
.news-article-title > a {
  color: black;
  font-weight: bold;
  font-size: 1.1em;
}
.news-article-subtitle {
  display: none;
  font-size: .8em;
}
/*
 Put the first article in the featured grid area;
 the rest will flow into the "item" slots
 */
.news-featured {
  grid-area: featured;
}
.news-featured .news-article-image {
  display: block;
  float: none;
  margin-top: 0;
}
.news-featured .news-article-image img {
  max-height: none;
  height: content-box;
}
.news-featured .news-article-subtitle {
  display: block;
}

.news-articles footer .feed-item-date {
  border: 1px solid;
}
