/* homepage search block */
.hero-search-block {
  background: var(--background-system-primary, #fff);

  max-width: 692px;

  padding: 24px;
  margin: 24px 120px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 16px;

  border-radius: 4px;
}

@media (max-width: 799px) {
  .hero-search-block {
    margin: 36px;
  }
}

@media (max-width: 576px) {
  .hero-search-block {
    padding: 16px;
  }
}

@media (max-width: 420px) {
  .hero-search-block {
    margin: 16px;
  }
}

/* search feature */
.hero-search-block .search-feature {
  background: var(--background-system-secondary, #f8f9fc);

  width: 100%;

  border-radius: 8px;
}

/* search feature header */
.hero-search-block .search-feature .search-feature-header {
  background: var(--background-accent-brand-gold, #fff9d5);

  display: flex;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;

  border-radius: 8px 8px 0px 0px;
}

.hero-search-block
  .search-feature
  .search-feature-header
  h2.search-feature-title {
  color: var(--content-system-primary, #000);

  margin: 0px;

  /* headline-medium */
  font-family: "Source Sans Pro";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px; /* 150% */
}

.hero-search-block
  .search-feature
  .search-feature-header
  .search-feature-description {
  color: var(--content-interactive-primary-default, #e21833);

  padding-left: 24px;

  /* label-medium */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3E%3Cpath d='M7.99998 15.1666C11.6819 15.1666 14.6666 12.1819 14.6666 8.49998C14.6666 4.81808 11.6819 1.83331 7.99998 1.83331C4.31808 1.83331 1.33331 4.81808 1.33331 8.49998C1.33331 12.1819 4.31808 15.1666 7.99998 15.1666Z' stroke='%23E21833' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8 11.1667V8.5' stroke='%23E21833' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8 5.83331H8.00583' stroke='%23E21833' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: center;
}

/* search feature tab */
.hero-search-block .search-feature .search-feature-tab {
  width: 100%;

  display: flex;
  flex-direction: column;
  padding: 8px 16px;
}

/* search feature header & tab padding update for mobile */
@media (max-width: 576px) {
  .hero-search-block .search-feature .search-feature-header {
    padding: 8px;
  }

  .hero-search-block .search-feature .search-feature-tab {
    padding: 8px;
  }
}

/* search feature tab button */
.hero-search-block .search-feature .search-feature-tab .tab-button ul {
  display: flex;
  flex-direction: row;
}

.hero-search-block .search-feature .search-feature-tab .tab-button ul button {
  border: none;
  border-bottom: var(--number-005, 2px) solid var(--border-sytem-input, #bdbfc8);
  background: var(--background-system-tertiary, #e9eaef);
  color: var(--content-system-secondary, #55575e);
  
  height: 100%;
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;

  /* title-small */
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px; /* 150% */
}

.hero-search-block
  .search-feature
  .search-feature-tab
  .tab-button
  ul
  button.active {
  border-bottom: var(--number-005, 2px) solid
    var(--border-sytem-sencondary, #e21833);
  background: var(--background-accent-brand-red, #fdd8dd);
  color: var(--content-system-primary, #000);
}

/* search feature tab button for mobile */
@media (max-width: 576px) {
  .hero-search-block .search-feature .search-feature-tab .tab-button ul {
    width: 100%;

    display: flex;
  }

  .hero-search-block .search-feature .search-feature-tab .tab-button ul li {
    width: 100%;
    flex-basis: auto;
  }
  .hero-search-block
    .search-feature
    .search-feature-tab
    .tab-button
    ul
    li
    button {
    width: 100%;
  }
}

/* search feature tab content */
.hero-search-block .search-feature .search-feature-tab .tab-content {
  width: 100%;
  position: relative;
}

.hero-search-block .search-feature .search-feature-tab .tab-content .tab-input {
  display: none;
}

.hero-search-block
  .search-feature
  .search-feature-tab
  .tab-content
  .tab-input.active {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* search feature tab content input */
.hero-search-block
  .search-feature
  .search-feature-tab
  .tab-content
  .hero-search-input {
  background: var(--background-system-primary, #fff);
  border: 1px solid var(--border-sytem-input, #bdbfc8);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-search-block
  .search-feature
  .search-feature-tab
  .tab-content
  .hero-search-input
  .form-item {
  flex-grow: 1;
  margin: 0;
  padding: 8px;
}

.hero-search-block
  .search-feature
  .search-feature-tab
  .tab-content
  .hero-search-input
  input {
  color: var(--content-system-primary, #000);

  border: none;

  /* body-medium */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */

  padding: 8px 8px 8px 40px;

  /* search icon */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z' fill='white' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21 21L16.65 16.65' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: center;
}

.hero-search-block
  .search-feature
  .search-feature-tab
  .tab-content
  .hero-search-input
  input::placeholder {
  color: var(--content-system-tertiary, #6d7078);

  /* body-medium */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.hero-search-block
  .search-feature
  .search-feature-tab
  .tab-content
  .hero-search-input
  input:focus-visible {
  outline: none;
}

.hero-search-block
  .search-feature
  .search-feature-tab
  .tab-content
  .hero-search-input
  input[type="submit"] {
  color: var(--content-interactive-primary-hover, #fff);
  background: var(--background-interactive-primary-hover, #e21833);

  padding: 8px 24px;
  margin-right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Source Sans Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.hero-search-block
  .search-feature
  .search-feature-tab
  .tab-content
  .hero-search-input
  input[type="submit"]:hover {
  color: var(--content-interactive-primary-hover, #fff) !important;
  background-color: var(
    --background-interactive-primary-hover,
    #e21833
  ) !important;
  border-color: var(--border-interactive-primary-hover, #e21833) !important;
  box-shadow: none;
}

/* hide search button for mobile */
@media (max-width: 576px) {
  .hero-search-block
    .search-feature
    .search-feature-tab
    .tab-content
    .hero-search-input
    input[type="submit"] {
    display: none;
  }
}

/* update the margin for the input box */
@media (max-width: 768px) {
  .hero-search-block
    .search-feature
    .search-feature-tab
    .tab-content
    .hero-search-input
    input[type="text"] {
    margin-bottom: 0px;
  }
}

/* search feature tab content description */
.hero-search-block
  .search-feature
  .search-feature-tab
  .tab-content
  .tab-description {
  color: var(--content-system-primary, #000);

  min-height: 42px;

  /* label-medium */
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}

/* search feature dropdown */
.hero-search-box-dropdown {
  display: none;

  position: absolute;
  top: 57px;
  left: 0;
  width: 100%;
  background-color: white;

  padding: 16px;

  gap: 8px;

  border: 1px solid var(--border-sytem-input, #bdbfc8);
}

/* show the dropdown based on user interaction with input box */
.hero-search-block .tab-input:focus-within .hero-search-box-dropdown {
  display: block;
}

/* hide dropdown on mobile */
@media (max-width: 576px) {
  .hero-search-block .tab-input:focus-within .hero-search-box-dropdown {
    display: none;
  }
}

.hero-search-box-dropdown .hero-search-dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hero-search-box-dropdown .quick-action {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hero-search-box-dropdown .drop-down-subtitle {
  color: var(--content-system-tertiary, #6d7078);

  /* label-medium */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */

  padding: 0px 8px;
  margin: 0px;
}

.hero-search-box-dropdown .quick-action-options {
  display: flex;
  flex-direction: column;
}

.hero-search-box-dropdown a {
  color: var(--content-system-primary, #000);
  display: block;
  width: 100%;

  /* body-small */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */

  padding: 8px 8px 8px 32px;

  border-radius: 4px;

  /* search icon */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z' fill='white' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21 21L16.65 16.65' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: center;
}

.hero-search-box-dropdown a:hover,
.hero-search-box-dropdown button:hover {
  color: var(--content-system-primary, #000);
  background: var(--background-system-secondary, #f8f9fc);

  /* search icon */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z' fill='white' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21 21L16.65 16.65' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: center;
}

/* quick actions resource type text */
.hero-search-box-dropdown span {
  color: var(--content-interactive-primary-default, #e21833);
}

/* resource links */
.resource-links {
  width: 100%;
}

.umd-discover-link,
.search-all-link {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 8px;
  align-self: stretch;
  flex-wrap: wrap;
}

.umd-discover-link h3,
.search-all-link h3 {
  color: var(--content-system-primary, #000);

  margin: 0px;

  /* body-medium */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.umd-discover-link .title-divider,
.search-all-link .title-divider {
  color: var(--content-system-primary, #000);
}

.umd-discover-link ul,
.search-all-link ul {
  color: var(--content-interactive-primary-default, #e21833);

  display: flex;
  align-items: center;
  align-content: center;
  gap: 8px;
  align-self: stretch;
  flex-wrap: wrap;

  /* body-medium */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */

  text-align: center;
}

.umd-discover-link li.list-divider,
.search-all-link li.list-divider {
  color: var(--content-system-primary, #000);
}

/* resource links section for mobile */
@media (max-width: 576px) {
  /* change to button style */
  .umd-discover-link,
  .search-all-link {
    width: 100%;

    flex-direction: column;
    align-items: flex-start;

    padding-bottom: 16px;
    border-bottom: 1px solid var(--border-accent-decoration-subtle, #e9eaef);
  }

  .umd-discover-link h3,
  .search-all-link h3 {
    width: 100%;
  }

  .umd-discover-link ul,
  .search-all-link ul {
    width: 100%;
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    align-self: center;
  }

  .umd-discover-link ul li a,
  .search-all-link ul li a {
    background: var(--background-system-primary, #fff);

    height: 48px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    border: 1px solid var(--border-accent-decoration-default, #bdbfc8);
  }

  .umd-discover-link ul li a:hover,
  .search-all-link ul li a:hover {
    color: var(--content-interactive-primary-hover, #fff);
    background: var(--background-interaction-primary-hover, #e21833);
    border: 1px solid var(--border-interactive-primary-hover, #e21833);
  }

  .umd-discover-link .list-divider,
  .umd-discover-link .title-divider,
  .search-all-link .list-divider,
  .search-all-link .title-divider {
    display: none;
  }
}

/* hero search block alert */
.hero-search-block-alert {
  color: #000;
  background-color: #fff9d5;

  width: 100%;

  display: flex;
  flex-direction: row;
  padding: 8px 16px;
  align-items: center;
  gap: 8px;

  border-radius: 8px;
  border: 1px solid #ffd200;
  margin: 0;
}

.hero-search-block-alert .alert-text {
  width: 100%;

  padding-left: 28px;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cg clip-path='url(%23clip0_706_37038)'%3E%3Cpath d='M10 18.3333C14.6024 18.3333 18.3334 14.6023 18.3334 9.99996C18.3334 5.39759 14.6024 1.66663 10 1.66663C5.39765 1.66663 1.66669 5.39759 1.66669 9.99996C1.66669 14.6023 5.39765 18.3333 10 18.3333Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 6.66663V9.99996' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 13.3334H10.0083' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_706_37038'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: center;
}

/* hero search block footer */
.hero-search-block-footer {
  display: flex;
  align-items: center;
  gap: 8px;

  /* label-medium */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */

  margin-top: 16px;
}

.hero-search-block-footer .help {
  padding-left: 24px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3E%3Cpath d='M8.00004 15.1666C11.6819 15.1666 14.6667 12.1819 14.6667 8.49998C14.6667 4.81808 11.6819 1.83331 8.00004 1.83331C4.31814 1.83331 1.33337 4.81808 1.33337 8.49998C1.33337 12.1819 4.31814 15.1666 8.00004 15.1666Z' stroke='%236D7078' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8 11.1667V8.5' stroke='%236D7078' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8 5.83331H8.00583' stroke='%236D7078' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: center;
}

.hero-search-block-footer p {
  color: var(--content-system-secondary, #55575e);
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
}

.hero-search-block-footer a {
  color: var(--content-interactive-primary-default, #e21833);
}

/* remove the top margin on mobile device */
@media (max-width: 576px) {
  .hero-search-block-footer {
    margin-top: 0px;
  }
}
