/**
 * hero_search component CSS file.
 */


.hero-search-title {
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem;
}

.hero-search-block {
  background-color: #fff;
  padding: 1rem;
}

.top-right-link {
  font-size: 1rem;
}

.darklinks,
.darklinks a {
  color: #333;
  text-decoration: underline;
  font-size: 0.912rem;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
}
.hero-search-input > input#edit-submit {
  background: #e21833;
  color: #fff!important;
  margin-bottom: 2rem;
}

.hero_search_buttons_container {
  border-top: .6rem solid #f1f1f1;
  padding-top: 1rem;
}
.hero-search-options div {
  margin-right: 2rem;
  margin-bottom: 0;
}
.home-hero.home-hero-bg .btn,
.home-hero.home-hero-dark .btn {
  color: #000!important;
  border-color: #c8c8c8!important;
  font-weight: 400;
  margin: 0 0.2rem 1rem;
  padding: 0.7rem 2rem;
}

.hero-search-input div {
  display: inline-block;
}

.hero-search-options div {
  display: inline-block;
}

.hero-search-block .row {
  margin-right: 15px;
  margin-left: 15px;
}

.hero-search-block .form-item label {
  display: inline-block;
}

.hero-search-left-align {
  margin-left: auto;
  margin-bottom: 1rem;
}

.home-hero-cta {
  position: relative;
  opacity: .9;
  width: 100%;
  margin: 0px auto;
  background: #fff;
  min-height: 175px;
}

.home-hero-cta img {
  max-height: 100px!important;
  max-width: 100px!important;
  transform: none!important;
  position: relative!important;
  top: 0px!important;
  left: 0px!important;
  float: left;
  padding-right: 8px;
}

@media (min-width:1200px) {
  .home-hero-cta {
    bottom: 0;
    right: 10px;
    width: 350px!important;
    position: absolute!important;
    background: #fff;
    opacity: 0.9;
    display: block;
  }

  .home-hero-cta img {
    max-height: 200px!important;
    max-width: 200px!important;
    float: none;
  }
}

@media (min-width:1400px) {
  .home-hero-cta {
    bottom: 0;
    right: 150px;
    width: 450px!important;
    position: absolute!important;
    background: #fff;
    opacity: 0.9;
    display: block;
  }

  .home-hero-cta img {
    max-height: 200px!important;
    max-width: 200px!important;
    float: none;
  }
}



#cta-text {
  padding:  0.5rem 0.5rem 0.5rem 0.5rem;
}
.outer-pad {
  padding: 0 1rem!important;
}
@media (min-width: 1025px) {
  .hero-block {
    margin-left: 12rem!important;
  }
}
@media (max-width: 1024px) {
  .hero-block {
    margin-left: 1rem!important;
  }
  .home-hero-content{
    bottom: 12rem;
    right: 1rem;
  }
}
@media (max-width: 799px) {
  .card-wrap {
    flex: auto!important;
    max-width: 100%!important;
    padding-left: 0!important;
  }
}
@media (max-width: 768px) {
  .hero-block {
    margin-left: 0!important;
    border: 1px solid #ccc;
    padding: 1rem;
  }
  .home-hero-content{
    bottom: 0;
    left: 1rem;
    position: relative!important;
    width: 90%!important;
  }
}

.home-hero-content h1 {
  display: none;
}

.home-hero-content h2 {
  display: none;
}
