{#
/**
 * @file
 * bento-summary-block template
 *
 * Variables:
 *   - search_targets
 */
#}
<div id="bento-results-found" class="bento-sidebar">
  <div class="bento-sidebar-heading">Results Found</div>
  <div class="bento-sidebar-content">
    <ul>
      {% for id, name in search_targets %}
        <li><a class="" href="#{{ id|replace({'-summary': ''}) }}">{{ name }} <span id="{{ id }}">(0)</span></a></li>
        {% if not loop.last %} {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
