{#
/**
 * @file
 * bento-search-categories-block template
 *
 * Variables:
 *   - resource_types 
 *   - resource_types_heading
 */
#}
<div id="bento-resource-types" class="bento-sidebar accordion">
  <button class="bento-sidebar-heading btn collapsed" data-toggle="collapse" data-target="#bento-resource-types-content" aria-expanded="false">{{ resource_types_heading }}</button>
  <div id="bento-resource-types-content" class="bento-sidebar-content collapse" data-parent="#bento-resource-types">
    <ul>
      {% for name, item in resource_types %}
        <li><a href="{{ item.url }}" id="bento-search-resource-types-{{ name|clean_id }}">{{ name }}</a><li>
      {% endfor %}
    </ul>
  </div>
</div>
