{#
/**
 * @file
 * bento-looking-more-block template
 *
 * Variables:
 *  - looking_more_text
 *  - looking_more_url
 *  - looking_more_heading
 */
#}
<div id="bento-looking-more" class="bento-sidebar">
  <div class="bento-sidebar-heading">{{ looking_more_heading }}</div>
  <div class="bento-sidebar-content">
    <a href="{{ looking_more_url }}">{{ looking_more_text }}</a>
  </div>
</div>
