{#
/**
 * @file
 * bento-search-categories-block template
 *
 * Variables:
 *   - search_categories
 *   - search_categories_heading
 */
#}
<div id="bento-search-categories" class="bento-sidebar accordion">
  <button class="bento-sidebar-heading btn" data-toggle="collapse" data-target="#bento-search-categories-content">{{ search_categories_heading }}</button>
  <div id="bento-search-categories-content" class="bento-sidebar-content collapse" data-parent="#bento-search-categories">
    {% for id, group in search_categories %}
      <ul>
      {% for item in group %}
        <li><a href="{{ item.url }}">{{ item.name }}</a><li>
      {% endfor %}
      </ul>
    {% endfor %}
  </div>
</div>
